{% extends 'djangoapp/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <p></p>
            <div class="text-dark bg-light rounded" style="padding: 20px">
                <h4>Tablet ID: {{tablet_name}}</h4>
                <h4>Museum Number: {{museum_no}}</h4>
                <p>{{tablet_info}}</p>
            </div>
            <p></p>
            <div class="text-dark bg-light rounded" style="padding: 20px">
                <h4>CDLI Information:</h4>
                {{ cdli_data }}
            </div>
            <p></p>
            <div class="row" style="padding: 13px">
                <div class="col-6 text-dark bg-light rounded" style="padding: 20px">
                    <h4>Transcription:</h4>
                    {{ cdli_transcription | safe | linebreaks}}
                </div>
                <div class="col-6 text-dark bg-light rounded" style="padding: 20px">
                    <h4>Translation:</h4>
                    {{ cdli_translation | safe | linebreaks}}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="bg-secondary rounded" align="center">
            <p></p>
            {% for img in images %}
                <div class="" style="padding: 20px">
                    <picture>
                      <img src="{% static img %}" class="rounded img-fluid" alt={{img}}>
                    </picture>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
